h1 {
  font-size: 40px;
  font-weight: var(--font-bold);
  margin: 0;
}

h2 {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 35px;
  font-weight: var(--font-bold);
}

.cityForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  padding: 32px;
  gap: 20px;
  border-radius: 16px;
  color: var(--white);
  background-color: var(--ink-black);
}

.citySeach input {
  display: flex;
  width: 300px;
  padding: 10px 16px;
  border-radius: 8px;
}

.seachBoton {
  display: flex;
  padding: 12px 24px;
  margin: 20px auto 0;
  border-radius: 8px;
  background-color: var(--white);
  color: var(--ink-black);
  font-weight: var(--font-regular);
  font-size: 18px;
}

.seachBoton:hover {
  background-color: var(--ink-black);
  color: var(--white);
  border: solid 2px var(--white);
}

.weatherCity {
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

@media (min-width: 1400px) {

  .weatherCity {
    flex-wrap: wrap;
    gap: 40px;
    flex-direction: row;
  }

}