header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 20px 20px 20px;
    background-color: var(--ink-black);
    color: var(--white);
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
    margin-bottom: 0;
    box-sizing: border-box;
}