footer {    
    bottom: 0;           
    left: 0;              
    width: 100%;           
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--ink-black);
    color: var(--white);
    padding: 16px;
    z-index: 999;       
}
