@import "normalize.css";
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

:root {
  --font-light: 300;
  --font-regular: 400;
  --font-medium: 600;
  --font-bold: 900;
  --white: #ffffffff;
  --fresh-sky: #00a7e1ff;
  --ink-black: rgb(31, 18, 0);
  --deep-space-blue: #003459ff;
  --cerulean: #007ea7ff;
}

body{
  font-family: "Plus Jakarta Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: var(--font-regular);
  font-style: normal;
  color: var(--ink-black);
}

